a {
    text-decoration: none;
}
h1 {
    color: #69738C;
    font-family: "Stencil Std", fantasy;
    font-weight: 700;
    letter-spacing: 5px;
}
h4 {
    color: #5E7458;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 30px 10px 5px 10px;
    border-bottom: 1px solid #CCBCAC;
}

body {
margin: 1px;
background-color: #F4F5F5;
}

.text {
flex: 1;
}

.table-div {
width: 700px;
}

.table {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

thead {
position: sticky;
z-index: 1;
}

tbody {
width: 700px;
height: 800px;
overflow-y: auto;
}

th:first-child {
  width: 70px;
}
th:nth-child(2) {
  width: 430px;
}
th:last-child {
  width: 200px;
}
td:first-child {
  width: 70px;
}
td:nth-child(2) {
  width: 430px;
}
td:last-child {
  width: 200px;
}

.form_and_list {
display:flex;
justify-content: center;
margin: 70px 0px 0px 0px;
}

.form {
margin: 0px 0px 0px 0px;
width: 300px;
}

.dropdown {
width: 250px;
}