a {
    text-decoration: none;
}

h1 {
    color: #69738C;
    font-family: "Stencil Std", fantasy;
    font-weight: 700;
    letter-spacing: 5px;
}

h4 {
    color: #5E7458;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 30px 10px 5px 10px;
    border-bottom: 1px solid #CCBCAC;
}

body {
margin: 1px;
background-color: #F4F5F5;
}

.text {
flex: 1;
}


.table {
display: flex;
flex-direction: column;
align-items: center;
}

thead {
width: 700px;
position: sticky;
z-index: 1;
}

th {
width: 700px;
padding: 10px;
}

tbody {
width: 700px;
height:400px;
overflow-y: auto;
}

td {
width: 700px;
}

.row {
margin: 50px 200px 0px 200px;
}

.forms {
    display:flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    margin: 20px 10px 10px 10px;
}

.form_header {
margin: 20px 10px 10px 10px;
}

.col-8 {
width: 400px;
}

.dropdown {
width: 250px;
}

.btn-check {
width: 30px;
 height: 30px;
 font-size: 20px;
}
