{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet"  href="{{ url_for('static', filename='css/home_page_style.css') }}" >
{% endblock %}
{% block content %}
<div class="table-header text-center">
    <h4 id="stan-magazynu">stan magazynu</h4>
</div>
<div class="table-div">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">produkt </th>
          <th scope="col">
              <div  class="btn-group" role="group" aria-label="radio toggle button group">
                  <form method="POST">
                  <input type="submit" formaction="{{ url_for('ascending_price') }}"
                  class="btn-check" name="request_type" id="sort_ascending_price" autocomplete="off" value="asc">
                  <label class="btn-sort btn-outline-secondary" for="sort_ascending_price">▲</label>
                  <input type="submit" formaction="{{ url_for('descending_price') }}"
                         class="btn-check" name="request_type" id="sort_descending_price" autocomplete="off">
                  <label class="btn-sort btn-outline-secondary" for="sort_descending_price">▼</label>
                      </form>
              </div>
              cena zakupu
          </th>
            <th scope="col">
              <div  class="btn-group" role="group" aria-label="radio toggle button group">
                  <form method="POST">
                  <input type="submit" formaction="{{ url_for('ascending_amount') }}"
                  class="btn-check" name="request_type" id="sort_ascending_amount" autocomplete="off" value="asc">
                  <label class="btn-sort btn-outline-secondary" for="sort_ascending_amount">▲</label>
                  <input type="submit" formaction="{{ url_for('descending_amount') }}"
                         class="btn-check" name="request_type" id="sort_descending_amount" autocomplete="off">
                  <label class="btn-sort btn-outline-secondary" for="sort_descending_amount">▼</label>
                      </form>
              </div>
              sztuk
          </th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td scope="row">{{product.product}}</td>
          <td> {{product.price}}</td>
          <td>{{product.amount}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
<div class="forms">
  <div class="row">
        <div class="col-8">
                    <h4 class="form-header text-center">Zakup</h4>
        <form method="POST">
          <div class="mb-3">
            <label for="buy_product" class="form-label">produkt</label>
            <input type="text" class="form-control" id="buy_product"  name="produkt">
          </div>
          <div class="mb-3">
            <label for="buy_price" class="form-label">cena</label>
            <input type="number" class="form-control" id="buy_price" name="cena">
          </div>
          <div class="mb-3">
            <label for="buy_amount" class="form-label" >ilość sztuk</label>
            <input type="number" class="form-control" id="buy_amount" name="sztuk">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
 <div class="row">
        <div class="col-8">
                    <h4 class="form-header text-center">Sprzedaż</h4>
        <form method="POST">
            <div class="mb-3">
              <input type="text" name="request_type" value="sales_form" hidden="hidden">
          </div>
          <div class="mb-3">
            <label for="sale_product_name" class="form-label">produkt</label>
            <input type="text" class="form-control" id="sale_product_name" name="produkt">
          </div>
          <div class="mb-3">
            <label for="sale_amount" class="form-label" >ilość sztuk</label>
            <input type="number" class="form-control" id="sale_amount" name="sztuk">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}